
{% extends 'base.twig' %}
{% block title %}Portfolio{% endblock %}


  
{% block header %}
  <nav class="menu">
    <ul class="menu__liste">
      <li class="menu__el"><a href="#work" class="nav-link">Work</a></li>
      <li class="menu__el"><a href="#contact" class="nav-link">Contact</a></li>
      <li class="menu__el"><a href="?page=internship" class="nav-link">About me</a></li>
    </ul>
  </nav>
{% endblock %}


{% block content %}

    
    <section class="section section__acceuil">
      <div class="acceuil">
        <h1 class="title">Eunice Mutope</h1>
        <p>Hello! I’m a web design student</p>
      </div>
    </section>

          
    <div id="bgautre2"></div>
      
    <section class="section section__works" id="work">
      <div class="masque"><h2 class="title" id="title" >Works</h2></div>
        
      <div class="slider-container ">

      <div id="bgautre">
        <svg viewBox="0 0 1078 700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1248_436)" fill="#FF0000" stroke="#002BFF">
            <path class="triangle triangle-1" d="M-0.957031 0.356445H206.227V192.407L-0.957031 0.356445Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-2  " d="M413.719 0.356445H206.535V192.407L413.719 0.356445Z"  stroke-width="12" fill="#FF0000" stroke="#002BFF" stroke-miterlimit="10"/>
            <path class="triangle triangle-3  " d="M0.484662 355.767L0.40625 0.719971L190.718 177.124L0.484662 355.767Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-4   triangleUp" d="M1.05859 356.237L379.907 353.122L189.859 176.469L1.05859 356.237Z" fill="#FF0000" stroke="#002BFF" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-5  " d="M207.555 192.179L538.073 206.842L380.773 353.179L207.555 192.179Z" fill="#FF0000" stroke="#002BFF" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-6  " d="M208.266 191.538L547.609 207.013L414.701 0.349365L208.266 191.538Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-7  " d="M0.4375 357.414L0.501655 699.209L189.637 531.515L0.4375 357.414Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-8  " d="M1.01562 356.936L379.857 354.013L190.187 531.009L1.01562 356.936Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-9" d="M271.578 455.684L538.106 699.836L271.942 699.765L271.578 455.684Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-10" d="M270.808 455.72L1.02344 699.694L271.977 699.779L270.808 455.72Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-11" d="M272.598 455.62L538.669 699.344L538.697 455.948L272.598 455.62Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-12" d="M272.59 454.857L538.561 207.391L538.654 455.934L272.59 454.857Z" fill="#FF0000" stroke="#002BFF"   stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-13" d="M805.24 455.62L539.411 699.344L539.141 455.948L805.24 455.62Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-14" d="M805.245 454.857L539.272 207.391L539.18 455.934L805.245 454.857Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-15" d="M806.26 455.684L539.977 699.836L805.897 699.765L806.26 455.684Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-16" d="M807.028 455.72L1076.81 699.694L805.859 699.779L807.028 455.72Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-17  " d="M1078.8 0.356445H871.613V192.407L1078.8 0.356445Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-18  " d="M664.121 0.356445H871.304V192.407L664.121 0.356445Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-19   triangleUp" d="M415.5 0.363525L539.098 206.122L662.382 0.370654L415.5 0.363525Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-20  " d="M1077.36 355.767L1077.44 0.719971L887.125 177.124L1077.36 355.767Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-21   triangleUp" d="M1076.78 356.237L697.98 353.329L888.034 176.675L1076.78 356.237Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-22  " d="M870.285 192.179L539.766 206.842L697.059 353.179L870.285 192.179Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-23   smallTriangle" d="M869.375 191.659L539.57 206.137L663.304 0.549072L869.375 191.659Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-24  " d="M1077.4 357.414L1077.33 699.209L888.199 531.515L1077.4 357.414Z"  fill="#FF0000" stroke="#002BFF" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-25 triangle-color" d="M1076.82 356.936L697.98 354.013L887.649 531.009L1076.82 356.936Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
          </g>
        </svg>
      </div>


      <div class="slider fixed">
        {% for key, item in projets_details %}
          <div class="slider__el" data-gradient="gradient-bg-{{ loop.index }}">
            <div class="square">
              <div class="contenu">
                {% if loop.first %}
                  <h3 class="centered-title title--popup">{{ item.title }}</h3>
                {% else %}
                  <h3 class="title--popup">{{ item.title }}</h3>
                {% endif %}
                {% for image in item.images %}
                  {% if loop.index == 2 and key == "Rux" %}
                    <img src="{{ image }}" alt="{{ item.title }}" class="second-image">
                    <p class="description" style="position: absolute;">{{ item.description }}</p>
                  {% elseif loop.index == 1 and key == "Rux" %}
                    <img src="{{ image }}" alt="{{ item.title }}" class="first-image">
                  {% else %}
                    <img src="{{ image }}" alt="{{ item.title }}">
                    <p class="description">{{ item.description }}</p>
                  {% endif %}
                {% endfor %}
                
                <p class="info" style="display: none;">{{ item.info }}</p>
                <p class="info2" style="display: none;">{{ item.info2 }}</p>
                
                <div class="design_images" style="display: none;">
                  <!-- Images Mobiles -->
                  {% for image in item.design_images.mobile %}
                      <div class="popup__slider__el"><img class="design_img mobile_img" src="{{ image }}" alt="{{ item.title }} Mobile Image"></div>
                  {% endfor %}
                  <div class="design_images--desktop">
                    <!-- Images Desktop -->
                    {% for image in item.design_images.desktop %}
                      <div class="popup__slider__el"><img class="design_img desktop_img" src="{{ image }}" alt="{{ item.title }} Desktop Image"></div>
                    {% endfor %}
                  </div>
                  
                </div>
                <div class="adjust_images" style="display: none;">
                  <!-- Images Mobiles -->
                  <div class="adjust_images">
                    {% for image in item.adjust_images.mobile %}
                        <div class="popup__slider__el">
                          <img class="adjust_img mobile_img" src="{{ image.src }}" alt="{{ item.title }} Mobile Image">
                          <p class="adjust_img--description">{{ image.description }}</p>
                        </div>
                    {% endfor %}
                  </div>
                  <div class="adjust_images adjust_images--desktop">
                    <!-- Images Desktop -->
                    {% for image in item.adjust_images.desktop %}
                      <div class="popup__slider__el">
                        <img class="adjust_img desktop_img" src="{{ image.src }}" alt="{{ item.title }} Desktop Image">
                        <p class="adjust_img--description">{{ image.description }}</p>
                      </div>
                      
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      </div>
      <button class="btn__prev">Prev</button>
      <button class="btn__next">Next</button>
      <div class="popup">
        <div class="blur">
          <div class="popup__btn popup__btn--close">
            <h5 class="first_title title">Close</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="30" viewBox="0 0 70 30" fill="none">
              <path d="M0 15L25 29.4338V0.566243L0 15ZM381 12.5L22.5 12.5V17.5L381 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
          
          <div class="fxed"> <h3 class="popup__title title"></h3>
            
            <p class="popup__info"></p>   
          </div>

          <div class="popup__btn popup__btn--diff" data-target="diff">
            <h4 class="first_title title">Difficulties</h4>
            <svg width="65" height="30" viewBox="0 0 65 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.566243 15L15 29.4338L29.4338 15L15 0.566243L0.566243 15ZM396 12.5L15 12.5V17.5L396 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
          <p class="popup__info popup__content second_info" id="diff-content"></p>
          
          <div class="popup__btn popup__btn--design" data-target="design">
            <h4 class="popup__title--first title">Design</h4>
            <svg width="65" height="30" viewBox="0 0 65 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.566243 15L15 29.4338L29.4338 15L15 0.566243L0.566243 15ZM396 12.5L15 12.5V17.5L396 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
          
            <div class="popup__slider-container popup__content" id="design-content">
                <div class="popup__slider popup__design_images " id="design-images"></div>
            </div>
          
          <div class="popup__btn popup__btn--adjust" data-target="adjust">
            <h4 class="first_title title">Adjustments</h4>
            <svg width="65" height="30" viewBox="0 0 65 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.566243 15L15 29.4338L29.4338 15L15 0.566243L0.566243 15ZM396 12.5L15 12.5V17.5L396 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
         
          <div class="popup__slider-container popup__content" id="adjust-content">
            <div class="popup__slider popup__adjust_images " id="adjust-images"></div>
          </div>
          
        </div>
       
      </div>

        
    </section>

 
  {% endblock %}

