
{% extends 'base.twig' %}
{% block title %}Portfolio{% endblock %}


  
{% block header %}
  <nav class="menu">
    <ul class="menu__liste">
      <li class="menu__el"><a href="#work" class="nav-link">Work</a></li>
      <li class="menu__el"><a href="#contact" class="nav-link">Contact</a></li>
      <li class="menu__el"><a href="?page=internship" class="nav-link">About me</a></li>
    </ul>
  </nav>
{% endblock %}


{% block content %}

    
    <section class="section section__acceuil">
      <div class="acceuil">
        <h1 class="title">Eunice Mutope</h1>
        <p>Hello! I’m a web design student</p>
      </div>
    </section>
    
    <div id="bg3">


      <svg class="section__myself-bg " id="background-desktop" viewBox="0 0 1078 700" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1248_436)">

        <g class="icon_friends secondHide">
          <path d="M156.297 293.28C156.297 293.28 142.658 277.094 156.574 255.588C157.805 253.681 159.94 252.502 162.226 252.502H204.802C204.802 252.502 218.14 246.052 225.801 246.454C233.463 246.856 221.682 259.428 209.348 263.242C208.997 263.343 208.645 263.393 208.293 263.393H188.223V335.639C188.223 335.639 180.537 340.482 176.091 335.639V295.689H172.826L172.776 334.76C172.776 334.76 167.45 342.389 160.492 334.76L160.543 268.035H157.955V293.129C157.955 293.129 157.177 294.861 156.272 293.28H156.297Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
          <path d="M175.665 246.679C181.991 246.679 187.119 241.556 187.119 235.236C187.119 228.917 181.991 223.793 175.665 223.793C169.339 223.793 164.211 228.917 164.211 235.236C164.211 241.556 169.339 246.679 175.665 246.679Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
          <path d="M203.899 246.63C210.225 246.63 215.354 241.506 215.354 235.186C215.354 228.867 210.225 223.743 203.899 223.743C197.573 223.743 192.445 228.867 192.445 235.186C192.445 241.506 197.573 246.63 203.899 246.63Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
          <path d="M203.271 295.488V335.539C203.271 335.539 196.941 341.862 190.988 335.539V267.985C190.988 267.985 210.354 270.219 220.502 262.238C221.583 261.385 223.14 261.636 223.868 262.79C226.832 267.483 232.107 279.428 222.286 295.312C222.286 295.312 221.984 295.89 220.929 295.312C219.874 294.736 220.929 267.96 220.929 267.96H218.292V335.614C218.292 335.614 212.062 341.712 205.732 335.614V295.513H203.271V295.488Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
        </g>
        
        <g class="icon_food secondHide">
          <path d="M870.529 318.596V303.6C889.896 303.6 882.64 246.842 882.64 246.842H849.8C849.8 246.842 842.522 303.6 861.904 303.6V318.596C858.133 317.826 840.554 330.13 861.904 330.551H870.529C891.864 330.13 874.285 317.826 870.529 318.596ZM866.352 292.725H866.067C865.696 292.725 865.354 292.688 865.004 292.651C860.414 292.139 857.056 287.982 857.056 283.332V259.549H875.383V283.35C875.383 288.001 872.026 292.157 867.428 292.67C867.086 292.706 866.722 292.725 866.352 292.743V292.725Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
          <path d="M895.548 247.483H895.127C893.167 247.483 891.57 249.082 891.57 251.053V273.134C891.57 275.106 893.167 276.704 895.127 276.704H895.548C897.515 276.704 899.105 275.106 899.105 273.134V251.053C899.105 249.082 897.515 247.483 895.548 247.483Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
          <path d="M909.173 247.483H908.752C906.792 247.483 905.195 249.082 905.195 251.053V273.134C905.195 275.106 906.792 276.704 908.752 276.704H909.173C911.14 276.704 912.73 275.106 912.73 273.134V251.053C912.73 249.082 911.14 247.483 909.173 247.483Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
          <path d="M925.731 273.665C925.602 275.203 925.168 276.704 924.469 278.078C924.469 278.078 924.469 278.078 924.469 278.095C923.87 279.396 922.887 280.494 921.753 281.354L915.316 286.317C914.696 286.756 914.076 287.177 913.456 287.598C912.95 287.836 913.128 287.689 912.636 288.111C912.308 288.587 912.073 288.788 912.073 289.264V324.564C912.073 326.835 910.212 328.702 907.953 328.702H907.511C905.251 328.702 903.391 326.835 903.391 324.564V289.264C903.391 288.678 903.519 288.129 903.74 287.635C904.374 285.859 905.579 284.358 906.983 283.167C907.696 282.581 908.423 282.032 909.193 281.538H909.207C909.336 281.409 909.485 281.282 909.628 281.172L918.474 274.361C918.324 273.976 918.253 273.555 918.253 273.134V251.053C918.253 249.095 919.857 247.483 921.81 247.483H922.231C924.184 247.483 925.788 249.095 925.788 251.053V272.915L925.752 273.665H925.731Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
        </g>

        <g class="icon_happy secondHide">
          <path d="M543.737 49.3936C521.886 49.3936 504.18 67.1088 504.18 88.9599C504.18 110.811 521.886 128.518 543.737 128.518C565.589 128.518 583.304 110.811 583.304 88.9599C583.304 67.1088 565.589 49.3936 543.737 49.3936ZM519.735 83.8532C517.868 83.5595 518.538 82.0861 519.107 80.9727C519.76 79.7174 530.476 74.2671 536.646 79.2234C540.347 82.1952 539.602 83.2502 538.421 83.6187C537.525 83.9031 536.538 83.6857 535.776 83.1326C529.932 78.9304 524.758 81.6342 522.715 83.0741C521.844 83.6857 520.79 84.02 519.735 83.8532ZM565.078 93.2883C544.148 140.205 520.497 93.8243 522.213 92.7358C522.213 92.7358 532.812 97.0556 543.579 96.8211C552.913 96.6286 562.399 93.6981 564.76 92.9283C564.978 92.8527 565.17 93.0787 565.078 93.2883ZM568.578 83.8867C567.681 84.1712 566.693 83.953 565.932 83.4006C560.088 79.1977 554.914 81.9022 552.872 83.3421C552.001 83.953 550.946 84.2881 549.891 84.1205C548.024 83.8276 548.685 82.3541 549.263 81.2407C549.916 79.9847 560.632 74.5351 566.803 79.4914C570.503 82.4632 569.758 83.5182 568.578 83.8867Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
        </g>

        <foreignObject x="370" y="360" width="350" height="200" stroke="transparent">
          <div class="title secondHide" xmlns="http://www.w3.org/1999/xhtml" >
            I believe I’m a simple person who enjoys little things to be happy, you give me a good meal,
            a good drink, and quality time with friends and you find me happy. Like myself in my work,
            I always try to make things simpler and casual.
          </div>
        </foreignObject>
        <foreignObject x="20" y="140" width="220" height="250" stroke="transparent">
          <div class="title firstHide" xmlns="http://www.w3.org/1999/xhtml" >
            I like to help buzzle association on doing some flyers for they children camps, they gives me the opportunity and I start liking doing it.
          </div>
        </foreignObject>
        <image id="buzzle" href="assets/images/Logo-Full.png" x="550" y="100" width="300" height="100"/>

        <!-- Définir les images flyers dans un symbol -->
        <symbol id="flyers" class="firstHide " viewBox="0 0 1512 982">
          <image id="image0_1258_526" class="flyers" href="assets/images/flyers_1.png" x="590" y="460" width="300" height="340"/>
          <image id="image1_1258_526" class="flyers" href="assets/images/flyers_2.png" x="590" y="840" width="300" height="410"/>
          <image id="image2_1258_526" class="flyers" href="assets/images/flyers_3.png" x="590" y="1290" width="300" height="380"/>
        </symbol>

        <!-- Utiliser le symbol dans le SVG -->
        <use  href="#flyers" />
        
        <g class="triangles">
          <path class="triangle-1 triangle-color" d="M-0.957031 0.356445H206.227V192.407L-0.957031 0.356445Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-2 triangle-color" d="M413.719 0.356445H206.535V192.407L413.719 0.356445Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          
          <g class="smallTriangle">
            <path class="triangle-3 triangle-color" d="M0.484662 355.767L0.40625 0.719971L190.718 177.124L0.484662 355.767Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle-4 triangle-color triangleUp" d="M1.05859 356.237L379.907 353.122L189.859 176.469L1.05859 356.237Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          </g>

          <path class="triangle-5 triangle-color" d="M207.555 192.179L538.073 206.842L380.773 353.179L207.555 192.179Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-6 triangle-color" d="M208.266 191.538L547.609 207.013L414.701 0.349365L208.266 191.538Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-7 triangle-color" d="M0.4375 357.414L0.501655 699.209L189.637 531.515L0.4375 357.414Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-8 triangle-color" d="M1.01562 356.936L379.857 354.013L190.187 531.009L1.01562 356.936Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>

          <g class="bigTriangle">
            <path class="triangle-9" d="M271.578 455.684L538.106 699.836L271.942 699.765L271.578 455.684Z" fill="red" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle-10" d="M270.808 455.72L1.02344 699.694L271.977 699.779L270.808 455.72Z" fill="red" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
            
            <g class="smallTriangleDown">
              <path class="triangle-11" d="M272.598 455.62L538.669 699.344L538.697 455.948L272.598 455.62Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
              <path class="triangle-12" d="M272.59 454.857L538.561 207.391L538.654 455.934L272.59 454.857Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
              <path class="triangle-13" d="M805.24 455.62L539.411 699.344L539.141 455.948L805.24 455.62Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
              <path class="triangle-14" d="M805.245 454.857L539.272 207.391L539.18 455.934L805.245 454.857Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
            </g>

            <path class="triangle-15" d="M806.26 455.684L539.977 699.836L805.897 699.765L806.26 455.684Z" fill="red" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle-16" d="M807.028 455.72L1076.81 699.694L805.859 699.779L807.028 455.72Z" fill="red" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          </g>

          <path class="triangle-17 triangle-color" d="M1078.8 0.356445H871.613V192.407L1078.8 0.356445Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-18 triangle-color" d="M664.121 0.356445H871.304V192.407L664.121 0.356445Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-19 triangle-color triangleUp" d="M415.5 0.363525L539.098 206.122L662.382 0.370654L415.5 0.363525Z" fill="red" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-20 triangle-color" d="M1077.36 355.767L1077.44 0.719971L887.125 177.124L1077.36 355.767Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-21 triangle-color triangleUp" d="M1076.78 356.237L697.98 353.329L888.034 176.675L1076.78 356.237Z" fill="red" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-22 triangle-color" d="M870.285 192.179L539.766 206.842L697.059 353.179L870.285 192.179Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          
          <path class="triangle-23 triangle-color smallTriangle" d="M869.375 191.659L539.57 206.137L663.304 0.549072L869.375 191.659Z" fill="green" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          
          <path class="triangle-24 triangle-color" d="M1077.4 357.414L1077.33 699.209L888.199 531.515L1077.4 357.414Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
          <path class="triangle-25 triangle-color" d="M1076.82 356.936L697.98 354.013L887.649 531.009L1076.82 356.936Z" fill="#002BFF" stroke="#050B26" stroke-width="12" stroke-miterlimit="10"/>
        </g>
      </g>

      </svg>


      <svg class="section__myself-bg" id="background-mobile" width="587" height="863" viewBox="0 0 587 863" fill="none" stroke="red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g clip-path="url(#clip0_1433_256)">
          <rect width="587" height="863" fill="transparent"/>
          <symbol id="flyers--mobile" class="firstHide " viewBox="-600 1000 1512 982">
            <image  class="flyers" href="assets/images/flyers_1.png" x="980" y="-50" width="650" height="940"/>
            <image  class="flyers" href="assets/images/flyers_2.png" x="980" y="1000" width="750" height="810"/>
            <image  class="flyers" href="assets/images/flyers_3.png" x="980" y="2100" width="750" height="780"/>
          </symbol>
          <!-- Utiliser le symbol dans le SVG -->
          <use  href="#flyers--mobile" />

          <image  class="firstHide hideFinal" href="assets/images/Logo-Full.png" x="400" y="470" width="100" height="50"/>

          <g class="icon_food--mobile secondHide--mobile hideFinal" >
            <path d="M524.79 603.342V592.612C538.648 592.612 533.456 552 533.456 552H509.958C509.958 552 504.75 592.612 518.619 592.612V603.342C515.92 602.791 503.343 611.595 518.619 611.896H524.79C540.056 611.595 527.478 602.791 524.79 603.342ZM521.801 584.83H521.597C521.332 584.83 521.087 584.804 520.837 584.778C517.553 584.411 515.15 581.437 515.15 578.109V561.092H528.264V578.123C528.264 581.45 525.861 584.424 522.571 584.791C522.327 584.817 522.067 584.83 521.801 584.843V584.83Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
            <path d="M542.693 552.458H542.392C540.989 552.458 539.847 553.603 539.847 555.013V570.813C539.847 572.223 540.989 573.367 542.392 573.367H542.693C544.1 573.367 545.238 572.223 545.238 570.813V555.013C545.238 553.603 544.1 552.458 542.693 552.458Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
            <path d="M552.44 552.458H552.139C550.736 552.458 549.594 553.603 549.594 555.013V570.813C549.594 572.223 550.736 573.367 552.139 573.367H552.44C553.848 573.367 554.985 572.223 554.985 570.813V555.013C554.985 553.603 553.848 552.458 552.44 552.458Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
            <path d="M564.289 571.193C564.197 572.293 563.886 573.367 563.386 574.35C563.386 574.35 563.386 574.35 563.386 574.363C562.957 575.293 562.254 576.079 561.443 576.695L556.837 580.245C556.393 580.559 555.949 580.861 555.506 581.162C555.143 581.332 555.271 581.227 554.919 581.529C554.684 581.869 554.516 582.013 554.516 582.354V607.612C554.516 609.237 553.185 610.573 551.568 610.573H551.252C549.635 610.573 548.304 609.237 548.304 607.612V582.354C548.304 581.935 548.396 581.542 548.554 581.188C549.008 579.918 549.87 578.843 550.874 577.992C551.384 577.572 551.905 577.18 552.456 576.826H552.466C552.558 576.734 552.665 576.642 552.767 576.564L559.096 571.69C558.989 571.415 558.938 571.114 558.938 570.813V555.013C558.938 553.612 560.086 552.458 561.483 552.458H561.784C563.182 552.458 564.329 553.612 564.329 555.013V570.656L564.304 571.193H564.289Z" fill="#A27DEB" stroke="black" stroke-miterlimit="10"/>
          </g>
          <g class="icon_happy--mobile secondHide--mobile hideFinal" >
            <path d="M536.557 101C521.335 101 509 113.341 509 128.563C509 143.785 521.335 156.12 536.557 156.12C551.779 156.12 564.12 143.785 564.12 128.563C564.12 113.341 551.779 101 536.557 101ZM519.836 125.006C518.536 124.801 519.002 123.774 519.399 122.999C519.854 122.124 527.319 118.328 531.617 121.78C534.195 123.85 533.676 124.585 532.854 124.842C532.229 125.04 531.542 124.889 531.011 124.503C526.94 121.576 523.336 123.46 521.912 124.463C521.306 124.889 520.571 125.122 519.836 125.006ZM551.424 131.578C536.843 164.262 520.367 131.952 521.562 131.193C521.562 131.193 528.946 134.203 536.446 134.039C542.949 133.905 549.557 131.864 551.202 131.327C551.354 131.275 551.488 131.432 551.424 131.578ZM553.861 125.029C553.237 125.227 552.549 125.075 552.018 124.69C547.947 121.762 544.343 123.646 542.92 124.649C542.313 125.075 541.578 125.308 540.844 125.192C539.543 124.988 540.004 123.961 540.406 123.186C540.861 122.311 548.326 118.514 552.625 121.967C555.202 124.037 554.684 124.772 553.861 125.029Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
          </g>

          <g class="icon_friends--mobile secondHide--mobile hideFinal">
            <path d="M422.292 374.904C422.292 374.904 412.504 363.288 422.491 347.854C423.374 346.485 424.906 345.639 426.547 345.639H457.102C457.102 345.639 466.675 341.01 472.173 341.298C477.671 341.587 469.216 350.609 460.365 353.347C460.113 353.419 459.861 353.455 459.608 353.455H445.205V405.304C445.205 405.304 439.688 408.779 436.498 405.304V376.633H434.154L434.118 404.673C434.118 404.673 430.296 410.148 425.303 404.673L425.339 356.787H423.482V374.796C423.482 374.796 422.923 376.039 422.274 374.904H422.292Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
            <path d="M436.189 341.46C440.729 341.46 444.409 337.784 444.409 333.248C444.409 328.713 440.729 325.036 436.189 325.036C431.649 325.036 427.969 328.713 427.969 333.248C427.969 337.784 431.649 341.46 436.189 341.46Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
            <path d="M456.454 341.425C460.995 341.425 464.675 337.748 464.675 333.212C464.675 328.677 460.995 325 456.454 325C451.915 325 448.234 328.677 448.234 333.212C448.234 337.748 451.915 341.425 456.454 341.425Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
            <path d="M456.004 376.489V405.232C456.004 405.232 451.462 409.77 447.189 405.232V356.75C447.189 356.75 461.088 358.354 468.371 352.627C469.146 352.014 470.263 352.194 470.786 353.022C472.913 356.39 476.699 364.963 469.651 376.363C469.651 376.363 469.434 376.777 468.677 376.363C467.92 375.949 468.677 356.732 468.677 356.732H466.784V405.286C466.784 405.286 462.314 409.662 457.771 405.286V376.507H456.004V376.489Z" fill="#A27DEB" stroke="black" stroke-width="0.5" stroke-miterlimit="10"/>
          </g>

          <g class="triangles bigTriangle" fill="transparent">
            <path d="M393 647L589 433L588.943 646.708L393 647Z"  class="triangledown" fill="red" stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            
            <path d="M393 647.936L588.931 864L589 647L393 647.936Z"  stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            
            <path d="M393 646L589 433.023L393.264 433L393 646Z" fill="red" class="triangleBuzzle" stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            
            <path d="M392.138 646L194 433.074L393 433L392.138 646Z"  stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M393 218L589 432L588.943 218.292L393 218Z"  stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            
            <path d="M393 218.059L588.931 0.999999L589 219L393 218.059Z" class="triangleUp" fill="red" stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            
            <path d="M393 219L589 432.782L393.264 433L393 219Z" class="triangLeft" fill="red" stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M392.138 219L194 432.925L393 433L392.138 219Z"  stroke="#050B26" stroke-width="2" stroke-miterlimit="10"/>
          </g>
        </g>

      </svg>



      



    </div>
    <div class="pin"></div>
    <div class="pin2"></div>


    <section class="section section__myself">
      <h2 class="title">About me</h2>
        
      <p class="intro title  secondHide--mobile">I belive  I’m a simple person who enjoy little  things to be happy, you give me a good meal, a good drink and a quality time with friends you find me happy. Like myself in my work I always try to make things simplier and casual.</p>
      <p class="intro title firstHide">I like to help buzzle association on doing some flyers for they children camps, they gives me the opportunity and I start liking doing it.</p>
    </section> 
          
    <div id="bgautre2"></div>
      
    <section class="section section__works" id="work">
      <div class="masque"><h2 class="title" id="title" >Works</h2></div>
        
      <div class="slider-container ">

      <div id="bgautre">
        <svg viewBox="0 0 1078 700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1248_436)" fill="#FF0000" stroke="#002BFF">
            <path class="triangle triangle-1" d="M-0.957031 0.356445H206.227V192.407L-0.957031 0.356445Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-2  " d="M413.719 0.356445H206.535V192.407L413.719 0.356445Z"  stroke-width="12" fill="#FF0000" stroke="#002BFF" stroke-miterlimit="10"/>
            <path class="triangle triangle-3  " d="M0.484662 355.767L0.40625 0.719971L190.718 177.124L0.484662 355.767Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-4   triangleUp" d="M1.05859 356.237L379.907 353.122L189.859 176.469L1.05859 356.237Z" fill="#FF0000" stroke="#002BFF" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-5  " d="M207.555 192.179L538.073 206.842L380.773 353.179L207.555 192.179Z" fill="#FF0000" stroke="#002BFF" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-6  " d="M208.266 191.538L547.609 207.013L414.701 0.349365L208.266 191.538Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-7  " d="M0.4375 357.414L0.501655 699.209L189.637 531.515L0.4375 357.414Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-8  " d="M1.01562 356.936L379.857 354.013L190.187 531.009L1.01562 356.936Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-9" d="M271.578 455.684L538.106 699.836L271.942 699.765L271.578 455.684Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-10" d="M270.808 455.72L1.02344 699.694L271.977 699.779L270.808 455.72Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-11" d="M272.598 455.62L538.669 699.344L538.697 455.948L272.598 455.62Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-12" d="M272.59 454.857L538.561 207.391L538.654 455.934L272.59 454.857Z" fill="#FF0000" stroke="#002BFF"   stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-13" d="M805.24 455.62L539.411 699.344L539.141 455.948L805.24 455.62Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-14" d="M805.245 454.857L539.272 207.391L539.18 455.934L805.245 454.857Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-15" d="M806.26 455.684L539.977 699.836L805.897 699.765L806.26 455.684Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-16" d="M807.028 455.72L1076.81 699.694L805.859 699.779L807.028 455.72Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-17  " d="M1078.8 0.356445H871.613V192.407L1078.8 0.356445Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-18  " d="M664.121 0.356445H871.304V192.407L664.121 0.356445Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-19   triangleUp" d="M415.5 0.363525L539.098 206.122L662.382 0.370654L415.5 0.363525Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-20  " d="M1077.36 355.767L1077.44 0.719971L887.125 177.124L1077.36 355.767Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-21   triangleUp" d="M1076.78 356.237L697.98 353.329L888.034 176.675L1076.78 356.237Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-22  " d="M870.285 192.179L539.766 206.842L697.059 353.179L870.285 192.179Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-23   smallTriangle" d="M869.375 191.659L539.57 206.137L663.304 0.549072L869.375 191.659Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-24  " d="M1077.4 357.414L1077.33 699.209L888.199 531.515L1077.4 357.414Z"  fill="#FF0000" stroke="#002BFF" stroke-width="12" stroke-miterlimit="10"/>
            <path class="triangle triangle-25 triangle-color" d="M1076.82 356.936L697.98 354.013L887.649 531.009L1076.82 356.936Z" fill="#FF0000" stroke="#002BFF"  stroke-width="12" stroke-miterlimit="10"/>
          </g>
        </svg>
      </div>


      <div class="slider fixed">
        {% for key, item in projets_details %}
          <div class="slider__el" data-gradient="gradient-bg-{{ loop.index }}">
            <div class="square">
              <div class="contenu">
                {% if loop.first %}
                  <h3 class="centered-title title--popup">{{ item.title }}</h3>
                {% else %}
                  <h3 class="title--popup">{{ item.title }}</h3>
                {% endif %}
                {% for image in item.images %}
                  {% if loop.index == 2 and key == "Rux" %}
                    <img src="{{ image }}" alt="{{ item.title }}" class="second-image">
                    <p class="description" style="position: absolute;">{{ item.description }}</p>
                  {% elseif loop.index == 1 and key == "Rux" %}
                    <img src="{{ image }}" alt="{{ item.title }}" class="first-image">
                  {% else %}
                    <img src="{{ image }}" alt="{{ item.title }}">
                    <p class="description">{{ item.description }}</p>
                  {% endif %}
                {% endfor %}
                
                <p class="info" style="display: none;">{{ item.info }}</p>
                <p class="info2" style="display: none;">{{ item.info2 }}</p>
                
                <div class="design_images" style="display: none;">
                  <!-- Images Mobiles -->
                  {% for image in item.design_images.mobile %}
                      <div class="popup__slider__el"><img class="design_img mobile_img" src="{{ image }}" alt="{{ item.title }} Mobile Image"></div>
                  {% endfor %}
                  <div class="design_images--desktop">
                    <!-- Images Desktop -->
                    {% for image in item.design_images.desktop %}
                      <div class="popup__slider__el"><img class="design_img desktop_img" src="{{ image }}" alt="{{ item.title }} Desktop Image"></div>
                    {% endfor %}
                  </div>
                  
                </div>
                <div class="adjust_images" style="display: none;">
                  <!-- Images Mobiles -->
                  <div class="adjust_images">
                    {% for image in item.adjust_images.mobile %}
                        <div class="popup__slider__el">
                          <img class="adjust_img mobile_img" src="{{ image.src }}" alt="{{ item.title }} Mobile Image">
                          <p class="adjust_img--description">{{ image.description }}</p>
                        </div>
                    {% endfor %}
                  </div>
                  <div class="adjust_images adjust_images--desktop">
                    <!-- Images Desktop -->
                    {% for image in item.adjust_images.desktop %}
                      <div class="popup__slider__el">
                        <img class="adjust_img desktop_img" src="{{ image.src }}" alt="{{ item.title }} Desktop Image">
                        <p class="adjust_img--description">{{ image.description }}</p>
                      </div>
                      
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      </div>
      <button class="btn__prev">Prev</button>
      <button class="btn__next">Next</button>
      <div class="popup">
        <div class="blur">
          <div class="popup__btn popup__btn--close">
            <h5 class="first_title title">Close</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="30" viewBox="0 0 70 30" fill="none">
              <path d="M0 15L25 29.4338V0.566243L0 15ZM381 12.5L22.5 12.5V17.5L381 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
          
          <div class="fxed"> <h3 class="popup__title title"></h3>
            
            <p class="popup__info"></p>   
          </div>

          <div class="popup__btn popup__btn--diff" data-target="diff">
            <h4 class="first_title title">Difficulties</h4>
            <svg width="65" height="30" viewBox="0 0 65 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.566243 15L15 29.4338L29.4338 15L15 0.566243L0.566243 15ZM396 12.5L15 12.5V17.5L396 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
          <p class="popup__info popup__content second_info" id="diff-content"></p>
          
          <div class="popup__btn popup__btn--design" data-target="design">
            <h4 class="popup__title--first title">Design</h4>
            <svg width="65" height="30" viewBox="0 0 65 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.566243 15L15 29.4338L29.4338 15L15 0.566243L0.566243 15ZM396 12.5L15 12.5V17.5L396 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
          
            <div class="popup__slider-container popup__content" id="design-content">
                <div class="popup__slider popup__design_images " id="design-images"></div>
            </div>
          
          <div class="popup__btn popup__btn--adjust" data-target="adjust">
            <h4 class="first_title title">Adjustments</h4>
            <svg width="65" height="30" viewBox="0 0 65 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.566243 15L15 29.4338L29.4338 15L15 0.566243L0.566243 15ZM396 12.5L15 12.5V17.5L396 17.5V12.5Z" fill="#B1ACE5"/>
            </svg>
          </div>
         
          <div class="popup__slider-container popup__content" id="adjust-content">
            <div class="popup__slider popup__adjust_images " id="adjust-images"></div>
          </div>
          
        </div>
       
      </div>

        
    </section>

 
  {% endblock %}

