{# 
{% for item in projet %}
    <h3>{{item.title}}</h3>
    <p>{{item.description}}</p>
    <img>{{item.image}}</img>
{% endfor %} #}

{# {% for key, item in projets_details %}

    <img src="{{ item.image }}" alt="{{ item.title }}">

{% endfor %} #}